<footer class="text-center text-lg-start bg-dark text-white">
    <section class="container d-flex justify-content-center justify-content-lg-between p-4">
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>

        <div>
            <a href="https://www.facebook.com/profile.php?id=61573456930756&mibextid=ZbWKwL" class="me-4 text-reset"> <i class="fa fa-facebook-f"></i></a>
            <a href="https://x.com/NisarAhmed2724?t=qZ77U2BhRY2TV0TDxA4tGw&s=09" class="me-4 text-reset"> <i class="fa fa-twitter"></i></a>
            <a href="https://www.instagram.com/syed_nisar_03?igsh=amVtZ2NmOHRpNzI4" class="me-4 text-reset"> <i class="fa fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/nisarahmed03?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="me-4 text-reset"> <i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/NISAR-AHMED-N" class="me-4 text-reset"> <i class="fa fa-github"></i></a>

        </div>

    </section>

    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fa fa-cart-plus"></i> papaszone
                    </h6>
                    <p>papaszone.com is a one stop destination for your families fashion needs.
                        We give you the opportunity to give your wardrobe a complete makeover with the latest
                        collections from our top brand.
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Our Branches</h6>
                    <p><a href="#" class="text-reset">Tirupathur</a></p>
                    <p><a href="#" class="text-reset">Dharmapuri</a></p>
                    <p><a href="#" class="text-reset">Banglore</a></p>
                    <p><a href="#" class="text-reset">Chennai</a></p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Locations</h6>
                    <p><a href="#" class="text-reset"></a>Tirupattur Sandal City</p>
                    <p><a href="#" class="text-reset">Palacode</a></p>
                    <p><a href="#" class="text-reset">Bommanahalli</a></p>
                    <p><a href="#" class="text-reset">Navalur</a></p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact Us</h6>
                    <p><i class="fa fa-home"></i> papaszone</p>
                    <p><i class="fa fa-envelope"></i> nisarsyed372@gmail.com</p>
                    <p><i class="fa fa-phone"></i> +91 8754235102</p>
                </div>
    </section>

    <div class="text-center p-4">
        <p class="text-center">Designed By, NISAR AHMED N</p>
        &copy; 2025 papaszone. All rights reserved. <a class="text-reset fw-bold" href="#"></a>
    </div>


</footer>